*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    color: rgb(55, 78, 99);
}

#inp-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px 0;
}

#inp{
    outline: none;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(23, 239, 246);
}

#create_btn{
    cursor: pointer;
    background-color: aqua;
    border-radius: 5px;
    padding: 0 3px;
    border-color: rgb(170, 170, 170);
    color: rgb(170, 170, 170);
}
#create_btn:hover{
    background-color: rgb(74, 149, 124);
}
#todo-list{
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;

}
.todo-item{
    width: 60%;
    padding: 30px 15px;
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px;
}
.btn_container > button{
    cursor: pointer;
    border-radius: 5px;
    border: none;
    padding: 3px 6px;
    color:white;
}
.btn_container > button:first-child{
    background-color: rgb(30, 198, 83);
}
.btn_container > button:first-child:hover{
    background-color: rgb(89, 252, 1);

}
.btn_container > button:last-child{
    background-color: rgb(234, 96, 96);
}
.btn_container > button:last-child:hover{
    background-color: rgb(255, 0, 0);

}
